xDnsRecordDhcId: New resource proposal

### Description

In line with #34, a DSCResource for DHCID records should be created. For consistency, the resource should be named `xDnsRecordDhcId`.

### Proposed properties

#### Mandatory

- ZoneName: Specifies the name of a DNS zone.
- Name: Specifies the name of a DNS server resource record object.
- DhcpIdentifier: Specifies a public key that is associated with an FQDN, as described in section 3 of RFC 2535.

#### Optional

- AgeRecord: Indicates that the DNS server uses a time stamp for the resource record that this cmdlet adds. A DNS server can scavenge resource records that have become stale based on a time stamp.
- AllowUpdateAny: Indicates that any authenticated user can update a resource record that has the same owner name.
- DnsServer: Specifies a DNS server. If you do not specify this parameter, the command runs on the local system. You can specify an IP address or any value that resolves to an IP address, such as a fully qualified domain name (FQDN), host name, or NETBIOS name.
- TTL: Specifies the Time to Live (TTL) value, in seconds, for a resource record. Other DNS servers use this length of time to determine how long to cache a record.
- ZoneScope: Specifies the name of a zone scope.
- Ensure: Denotes whether the record should be `Present` or `Absent`

### Special considerations or limitations

Not all mandatory properties need to be key properties. Please review the syntax and purpose of this record type to make the best determination of which properties should be key properties.

All proposed properties above options come straight from the `Add-DnsServerResourceRecord` help syntax with two exceptions:

- `TimeToLive` has been changed to `TTL`
- `ComputerName` has been changed to `DnsServer`
